# Enable rewriting engine
RewriteEngine On

# Specify the base directory
RewriteBase /educa/admin

# Redirect all requests to the index.php file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Handle 404 errors
ErrorDocument 404 /educa/admin/404.php
